/* styles.css */

@media (max-width: 600px) {
    .mobile-only {
      display: block;
      
    }
    
  }
  
  @media (min-width: 601px) {
    .mobile-only {
      display: none;
    }
  }

  .moreinf{
    color: aquamarine;
  }
  .heading-moreinf{
    /* background-color: red; */
    color:"props.mode==='light'?'blue':'pink'";
  }
  .mainheading{
    color: cadetblue;
  }
  /* .button{
    background-color:blue;
    color: aliceblue;
  } */
   #preview{
    color:burlywood;
   }
   #preview-msg{
    color:blanchedalmond
   }
