/* styles.css */

@media (max-width: 600px) {
    .mobile-only {
      display: block;
      
    }
    
  }
  
  @media (min-width: 601px) {
    .mobile-only {
      display: none;
    }
  }
  .mainheading{
    color:  cadetblue;
  }
  .moreinf{
    /* color:#C0C0C0; */
    font-weight: 450;
  }
  #preview-msg{
     font-weight: 400;
    /* color:#C0C0C0;  */
   }
