/* styles.css */

@media (max-width: 600px) {
    .mobile-only {
      display: block;
      
    }
    
  }
  
  @media (min-width: 601px) {
    .mobile-only {
      display: none;
    }
  }
@media (max-width:600px) {
    .textArea{
        columns: 10 ;
    }
}
@media (min-width:601px) {
    .textArea{
        columns: 4;
    }
    
}